/*scrollbar customization*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid pink;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: pink;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hotpink;
}

/*highlight customization - hint: make background transparent for cool effect*/
::selection {
  /*changes the background color of highlighted text*/
  background: pink;
}

/*first letter of paragraphs customization*/
p::first-letter{
  font-size: 125%;
  color: hotpink;
}

/*emphasis customization*/
strike {
  text-decoration: line-through hotpink;
}

strong, em {
  color: hotpink;
}

u {
  text-decoration: underline hotpink;
}

/*main area customization*/
h1 {
  text-align: center;
  color: #ea638c;
  text-decoration: dotted underline;
  font-family: 'Pacifico', cursive;
}

body {
  background-color: #f8f9fa;
  font-family: 'Glory', sans-serif;
}

img {
  border-radius:8px;
}

.buttons {
  border: dotted hotpink;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  border-radius:8px;
  padding:10px;
  text-align: justify;
  display: flex;
  justify-content: flex-end;
}

.welcome {
  border-radius:4px;
  padding:6px;
  text-align: justify;
}

.photo {
  display: flex;
  justify-content: center;
}

/*LINK CUSTOMIZATION*/

/*unvisited link*/
a:link {
  color: hotpink;
  text-decoration: none;
  cursor: help;
}

/* visited links */
a:visited {
  color: #963167;
  text-decoration: none;
}

/* Mouse over link */
a:hover {
  color: #a94ca0;
}
